{% extends "base.html" %}

{% block page_navigation %}
<h2>User Feedbacks</h2>
{% endblock page_navigation %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form class="form-inline justify-content-end" method="post">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {% for item in items %}
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">
                            <a class="card-link" hx-get="{% url 'feedback:feedback-details' item.pk %}" hx-target="#parent-div" hx-swap="innerHTML">{{item.title}}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.status}}</h6>
                        <p class="card-text">{{item.description}}</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="col-8">
            <div id="parent-div"></div>
        </div>
    </div>
    
{% endblock content %}






{% block modal %}
<!-- Modal -->
<div class="modal fade" id="feedbackFilters " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div>


{% endblock modal %}
